<p>Hello {{ .Fullname }}!</p>

<p>Please head to <a href='{{ .HostUrl }}/api/user/confirmation/{{.Username}}/{{ .Token }}'>{{ .HostUrl }}/api/user/confirmation/{{.Username}}/{{.Token}}</a> to confirm your email address</p>

Sincerely,
	The minions

