<p>Hello {{ .FullName }}!</p>

<p>Please head to <a href='{{ .HostUrl }}/#/confirm_email/{{ .Token }}'>{{ .HostUrl }}/#/confirm_email/{{.Token}}</a> to confirm your email address</p>

Sincerely,
	The minions

