<p>Hello {{ .Fullname }}!</p>

<p>Please head to <a href='{{ .HostUrl }}/user/forgot/{{.Username}}/{{ .Token }}'>{{ .HostUrl }}/user/forgot/{{.Username}}/{{ .Token }}</a> to reset your password</p>

Sincerely,
	The minions

