<p>Hello {{ .Email }}!</p>

<p>{{ .Fullname }} has invited you to his Vers.io team {{ .Team }}. Please head to <a href='{{ .HostUrl }}/invite/{{ .Token }}'>{{ .HostUrl }}/invite/{{ .Token }}</a> to accept his invitation</p>

Sincerely,
	The minions

