<p>Hello {{ .Email }}!</p>

<p>{{ .FullName }} has invited you to his key.cat team {{ .Team }}. Please head to <a href='{{ .HostUrl }}'>{{ .HostUrl }}</a> to accept his invitation</p>

Sincerely,
	The minions

